@model BookStore.Models.ChangePassword

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đổi mật khẩu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/out/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/out/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/out/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/out/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/out/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/out/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/out/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/out/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/out/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/out/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/out/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/out/css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #999999;">

    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-image: url('/out/images/bg-01.jpg'); "></div>

            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                <span class="login100-form-title p-b-59" style="font-family: cursive; font-style: italic; font-size: 45px;">
                    ĐỔI MẬT KHẨU
                </span>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    if (!String.IsNullOrEmpty(ViewData.ModelState["LoginError"].Errors[0].ErrorMessage))
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <span style="color: red; font-family: cursive;">@ViewData.ModelState["LoginError"].Errors[0].ErrorMessage</span>

                        </div>
                    }
                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                        <span class="label-input100">Mật khẩu cũ</span>
                        <input class="input100" type="password" name="MatKhauCu" placeholder="Mật khẩu cũ...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required">
                        <span class="label-input100">Mật khẩu mới</span>
                        <input class="input100" type="password" name="MatKhauMoi" placeholder="Mật khẩu mới...">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required">
                        <span class="label-input100">Xác nhận mật khẩu</span>
                        <input class="input100" type="password" name="XacNhanMatKhau" placeholder="Mật khẩu mới...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Cập nhập
                            </button>
                        </div>

                        <a asp-action="Index" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                            Quay lại
                            <i class="fa fa-long-arrow-right m-l-5"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/out/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/out/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/out/vendor/bootstrap/js/popper.js"></script>
    <script src="~/out/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/out/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/out/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/out/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/out/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/out/js/main.js"></script>

</body>
</html>