
@{

    ViewData["Title"] = "Home Page";
}

<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Text Slider -->
                    <div class="slider-container">
                        <div class="swiper-container text-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-7">
                                            <div class="image-container">
                                                <img class="img-fluid" src="~/as/images/sach-anh-du-lich7-788x445.jpg" alt="alternative">
                                            </div> <!-- end of image-container -->
                                        </div> <!-- end of col -->
                                        <div class="col-lg-6 col-xl-5" id="Hotro">
                                            <div class="text-container">
                                                <h3 class="h3-large" style="font-family: cursive">SÁCH! KHƠI NGUỒN TRI THỨC, CHẮP CÁNH ƯỚC MƠ</h3>
                                                <p class="p-large" style="text-align: justify">
                                                    Sách là món ăn tinh thần không thể thiếu trong cuộc sống của con người.
                                                    Sách là kho tàng lưu trữ khối kiến thức khổng lồ của nhân loại được tích lũy qua mấy ngàn năm.
                                                    Sách là chìa khóa vàng mở cửa tòa lâu đài tráng lệ chứa đựng vô vàn điều kì diệu.....
                                                </p>
                                                <a class="btn-solid-lg page-scroll text-center" href="#details">GO</a>
                                            </div> <!-- end of text-container -->
                                        </div> <!-- end of col -->
                                    </div> <!-- end of row -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-7">
                                            <div class="image-container">
                                                <img class="img-fluid" src="~/as/images/anh-cuon-sach-mo-ra-dep_051456444.jpg" alt="alternative">
                                            </div> <!-- end of image-container -->
                                        </div> <!-- end of col -->
                                        <div class="col-lg-6 col-xl-5">
                                            <div class="text-container">
                                                <h3 class="h3-large" style="font-family: cursive">SÁCH! MÓN ĂN TINH THẦN THIẾT YẾU THỜI GIÃN CÁCH</h3>
                                                <p class="p-large" style="text-align: justify">
                                                    Việc ở nhà tránh dịch bệnh lây lan là dịp để nhiều người dân,
                                                    giới trẻ và các “mọt sách” có thời gian tìm đọc những cuốn sách hay,
                                                    giá trị và phù hợp trong thời điểm giãn cách nhiều bất an và cần giữ được tinh thần tích cực,
                                                    thái độ lạc quan và hy vọng này.
                                                </p>
                                                <a class="btn-solid-lg page-scroll text-center" href="#Sach">GO</a>
                                            </div> <!-- end of text-container -->
                                        </div> <!-- end of col -->
                                    </div> <!-- end of row -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-7">
                                            <div class="image-container">
                                                <img class="img-fluid" src="~/as/images/cuon-sach.jpg" alt="alternative">
                                            </div> <!-- end of image-container -->
                                        </div> <!-- end of col -->
                                        <div class="col-lg-6 col-xl-5">
                                            <div class="text-container">
                                                <h3 class="h3-large" style="font-family: cursive">MỖI CUỐN SÁCH LÀ MỘT NGƯỜI BẠN THÂN THIẾT</h3>
                                                <p class="p-large" style="text-align: justify">
                                                    Sách không chỉ là phương tiện tốt nhất giúp các
                                                    bạn nhỏ tiếp thu dần những tri thức cần thiết trong đời sống mà còn
                                                    là món ăn tinh thần bổ ích nuôi dưỡng tâm hồn, nhân cách,
                                                    là chìa khoá vạn năng mở cửa lâu đài tâm hồn.
                                                    Sách dạy chúng ta biết sống, biết yêu thương.....
                                                </p>
                                                <a class="btn-solid-lg page-scroll text-center" href="#details3">GO</a>
                                            </div> <!-- end of text-container -->
                                        </div> <!-- end of col -->
                                    </div> <!-- end of row -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                            </div> <!-- end of swiper-wrapper -->
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of text slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->

        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->
    <section class="pt-5 pb-5 bg-white" style="padding-bottom: 2rem!important;">
        <nav class="nav justify-content-center" style=" margin-top: -2.5rem;">
            <h2 style="width: 90%; background: #f2f2f2; font-family: Times New Roman,Times,serif; padding: 0px; height: 40px; margin-bottom: 18px">
                <a class="title" asp-controller="" asp-action="Index" style="text-decoration: none; color: #fff; font-size: 25px; margin-left: 10px; position: relative; font-size: 18px; line-height: 38px; font-weight: bold; font-family: 'Palatino Linotype'; background: #00cc66; padding: 13px 20px 5px 13px; text-transform: capitalize; margin: 0; ">
                    Một số sản phẩm được ưa chuộng
                    <span class="b-main__category-arrow" style="display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 19px solid transparent; border-left: 12px solid #00cc66; border-right: 0px solid transparent; border-bottom: 18px solid transparent; position: absolute; top: 0; right: -12px;"></span>
                </a>
            </h2>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-12  ">
                    <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt1.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-20%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">78.000 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">98.000 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt2.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-19%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">60.750 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">75.000 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt3.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-30%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">73.150 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">77.000VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt4.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-15%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">85.000 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">100.000 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt5.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-3%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">335.500 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">350.000 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt6.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-3%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">130.950 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">135.000 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt7.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-15%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">57.800 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">68.000 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt8.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-18%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">138.600 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">169.000 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt9.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-30%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">55.300 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">79.000 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt10.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-15%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">84.150 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">99.000 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt11.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-20%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">143.200 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">179.00 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="card" style="min-height: 342px;">
                                            <img class="img-fluid" alt="" src="~/images/avt12.jpg" />
                                            <span style="font-weight: bold; text-align: center; color: black; font-size: 13px; line-height: 23px; width: 46px; height: 37px; position: absolute; top: 0; right: 0; background: url(../Images/saleprice.png)">-10%</span>
                                            <div class="card-body" style="text-align:center">
                                                <div class="card-text" style="color: #444444; font-weight: bold; font-size: 14px;">143.100 VNĐ</div>
                                                <div style="color: #999999; text-decoration: line-through; font-size: 11px !important;">159.00 VNĐ</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev " style="color:#3150a2;justify-content: left;" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                            </svg>
                        </a>
                        <a class="carousel-control-next  " style="color:#3150a2; justify-content:right;" href="#carouselExampleIndicators1" role="button" data-slide="next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <a class="btn btn-info" style="color: white; margin-top: 30px; margin-left: 658px; width: 215px; font-family: cursive; font-weight: bold;text-decoration:none" asp-controller="SanPham" asp-action="Index"> VIew All</a>
    </section>
    <!-- Details 1 -->
    <div class="basic-1 " style="height:696px">
        <h2 style="text-align:center; margin-top:20px; font-weight:bold; font-family:cursive">Một số tác phẩm tiêu biểu</h2>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-7" id="details">
                    <div class="image-container">
                        <img class="img-fluid" src="~/as/images/hh1.jpg" alt="alternative" style="height:450px;width:550px">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2 style="font-family: cursive;">Tiểu sử - Hồi kí</h2>
                        <p style="text-align:center">Đôi nét về tiểu sử - hồi kí</p>
                        <ul class="list-unstyled li-space-lg">
                            <p style="text-align:justify">
                                Hồi ký rất gần với nhật ký ở hình thức giãi bày, 
                                không dùng các thủ pháp cốt truyện, cách kể theo 
                                thứ tự thời gian, chú ý đến các sự kiện mang tính chất tiểu sử.
                                Ngược lại, hồi ký khác với tự truyện ở chỗ hồi ký 
                                đặt trọng tâm vào một số sự kiện trong khi tự truyện 
                                có phạm vi rộng lớn hơn, kéo dài cả đời người. Theo nhà 
                                văn Gore Vidal thì tự truyện cũng đòi hỏi đối chiếu rõ 
                                ràng ngày tháng trong lịch sử còn hồi ký là do chính trí nhớ của tác giả ghi nhận.
                                Về mặt chất liệu, về tính xác thực không có yếu tố hư cấu 
                                thì hồi ký rất gần với văn xuôi lịch sử, tiểu sử khoa học, 
                                ký sự tư liệu lịch sử. 
                            </p>
                        </ul>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox" style="font-family:cursive">Xem tiếp</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->
    <!-- Details Lightbox -->
    <!-- Lightbox -->
    <!-----2--------------------------------------------->
    <div class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2 style="font-family: cursive;">Prototype With Revo</h2>
                        <p>Our experienced designers and developers have implemented cutting edge tools that will help you sketch your ideas in record time and prepare the design</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Use a single app</strong> to get from sketch to actual code</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Bundled templates</strong> to help you get inspired faster</div>
                            </li>
                        </ul>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox2">LIGHTBOX</a>
                    </div> <!-- end of text-container -->
                </div>  <!-- end of col -->
                <div class="col-lg-6 col-xl-7" id="Sach">
                    <div class="image-container">
                        <img class="img-fluid" src="~/as/images/sach11.jpg" alt="alternative" style="height:450px;width:550px">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of tabs -->
    <!-- end of details 2 -->
    <!-- end of cards-1 -->
    <!-- Details 3-------------------------------------------------------------------------------------------------------------------- -->
    <div class="basic-1 bg-dark-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-7" id="details3">
                    <div class="image-container">
                        <img class="img-fluid" src="~/as/images/sach111.jpg" alt="alternative" style="height:450px;width:550px">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2 style="font-family: cursive;">Prototype With Revo</h2>
                        <p>Our experienced designers and developers have implemented cutting edge tools that will help you sketch your ideas in record time and prepare the design</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Use a single app</strong> to get from sketch to actual code</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Bundled templates</strong> to help you get inspired faster</div>
                            </li>
                        </ul>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox3">LIGHTBOX</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->
    <!-- Details Lightbox -->
    <!-- Lightbox -------------------------------------------------------------------------------------------------------------------------------->
    <div id="details-lightbox" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" src="~/as/images/sach2.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3 style="font-family: cursive;">Goals Setting</h3>
                <hr>
                <p>The app can easily help you track your personal development evolution if you take the time to set it up.</p>
                <h4 style="font-family: cursive;">User Feedback</h4>
                <p>This is a great app which can help you save time and make your live easier. And it will help improve your productivity.</p>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Splash screen panel</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Statistics graph report</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Events calendar layout</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Location details screen</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Onboarding steps interface</div>
                    </li>
                </ul>
                <button class="btn-outline-reg mfp-close as-button" type="button">BACK</button>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of details lightbox -->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------>
    <div id="details-lightbox2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" src="~/as/images/sach22.jpg" alt="alternative" style="height:550px; width:500px">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3 style="font-family: cursive;">Goals Setting</h3>
                <hr>
                <p>The app can easily help you track your personal development evolution if you take the time to set it up.</p>
                <h4 style="font-family: cursive;">User Feedback</h4>
                <p>This is a great app which can help you save time and make your live easier. And it will help improve your productivity.</p>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Splash screen panel</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Statistics graph report</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Events calendar layout</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Location details screen</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Onboarding steps interface</div>
                    </li>
                </ul>
                <button class="btn-outline-reg mfp-close as-button" type="button">BACK</button>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of details lightbox -->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------>
    <div id="details-lightbox3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" src="~/as/images/sach222.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3 style="font-family: cursive;">Goals Setting</h3>
                <hr>
                <p>The app can easily help you track your personal development evolution if you take the time to set it up.</p>
                <h4 style="font-family: cursive;">User Feedback</h4>
                <p>This is a great app which can help you save time and make your live easier. And it will help improve your productivity.</p>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Splash screen panel</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Statistics graph report</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Events calendar layout</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Location details screen</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Onboarding steps interface</div>
                    </li>
                </ul>
                <button class="btn-outline-reg mfp-close as-button" type="button">BACK</button>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of details lightbox -->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------>
    <!-- Details 2 -->
    <div class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="tabs-container">

                        <!-- Tabs Links -->
                        <ul class="nav nav-tabs" id="revoTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true" style="font-family: cursive;">PROTOTYPE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false" style="font-family: cursive;">DESIGN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false" style="font-family: cursive;">EXPORT</a>
                            </li>
                        </ul>
                        <!-- end of tabs links -->
                        <!-- Tabs Content -->
                        <div class="tab-content" id="revoTabsContent">

                            <!-- Tab -->
                            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                                <h4 style="font-family: cursive;">Prototype Easier With Revo</h4>
                                <p>It's now easier than ever to get your ideas into completed designs with Revo desktop app. Our <a class="turquoise page-scroll" href="#features">features</a> section shows how we are able to achieve all this.</p>
                                <ul class="list-unstyled li-space-lg">
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body"><strong>Experienced teams</strong> of top designers and developers</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body"><strong>Enthusiastic passion</strong> for all things web design related</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body"><strong>Focus on simplicity</strong> when it comes to the user interface</div>
                                    </li>
                                </ul>
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->
                            <!-- Tab -->
                            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                                <ul class="list-unstyled li-space-lg">
                                    <li class="media">
                                        <div class="media-bullet">1.</div>
                                        <div class="media-body"><strong>Speed</strong> is important for our users so we invest a lot of time and resources to make everything work faster</div>
                                    </li>
                                    <li class="media">
                                        <div class="media-bullet">2.</div>
                                        <div class="media-body"><strong>Reliability</strong> is what we're focused on achieving besides speed because we want our app to work all the time</div>
                                    </li>
                                    <li class="media">
                                        <div class="media-bullet">3.</div>
                                        <div class="media-body"><strong>Standards</strong> are another factor that we take into consideration when developing our tools</div>
                                    </li>
                                    <li class="media">
                                        <div class="media-bullet">4.</div>
                                        <div class="media-body"><strong>Performance</strong> is a key factor for our desktop apps</div>
                                    </li>
                                </ul>
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->
                            <!-- Tab -->
                            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                                <p><strong>Our goal is to empower</strong> web designers and developers reach their full potential and help them get their designs from layouts to code in the shortest amount of time.</p>
                                <p><strong>Design and layouts</strong> are the main focus of our apps but we also work on export-to-code functionalities.</p>
                                <ul class="list-unstyled li-space-lg">
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">It's a fun and captivating endeavour that we love</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">We're passionate about our work and it shows</div>
                                    </li>
                                </ul>
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->

                        </div> <!-- end of tab-content -->
                        <!-- end of tabs content -->

                    </div> <!-- end of tabs-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-2.jpg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of tabs -->
    <!-- end of details 2 -->
    <!-- end of cards-1 -->
    <!-- Video -->
    <div class="basic-2 bg-dark-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading" style="font-family: cursive;">Video Giới thiệu về lợi ích của việc đọc sách</h2>
                    <p></p>
                    <!-- Video Preview -->
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=lFb4QgN4M7A&t=6s" data-effect="fadeIn">
                                <img class="img-fluid" src="~/as/images/5587.jpg_wh860.jpg" alt="alternative">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div> <!-- end of video-wrapper -->
                    </div> <!-- end of image-container -->
                    <!-- end of video preview -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of video -->

    <div class="slider-1">
        <h1 style="padding-bottom:40px; text-align:center;font-family: cursive;">Thông tin nhân viên</h1>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/as/images/2af98878-7522-42b3-b612-271b188852b2_avt.jpg" alt="alternative">
                                        <div class="card-body">
                                            <p>Tên: Ngô Văn Thái</p>
                                            <p>Gmail: ngothai781@gmail.com</p>
                                            <p>Điên thoại: 0334366429</p>
                                            <p class="testimonial-author" style="font-family: cursive">Quản lí</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/as/images/avt45.jpg" alt="alternative">
                                        <div class="card-body">
                                            <p>Tên: Nguyễn Minh Tiến</p>
                                            <p>Gmail: nguyentien1e45@gmail.com</p>
                                            <p>Điên thoại: 0343746780</p>
                                            <p class="testimonial-author" style="font-family: cursive">Nhân viên Tư Vấn</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/as/images/avt46.jpg" alt="alternative">
                                        <div class="card-body">
                                            <p>Tên: Trương Huỳnh Phú Quí</p>
                                            <p>Gmail: phuqui03092000@gmail.com</p>
                                            <p>Điên thoại: 0367796021</p>
                                            <p class="testimonial-author" style="font-family: cursive">Thủ Kho</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/as/images/testimonial-4.jpg" alt="alternative">
                                        <div class="card-body">
                                            <p>Tên: Nguyễn Trung Hiếu</p>
                                            <p>Gmail: trunghieu@gmail.com</p>
                                            <p>Điên thoại: 0356214589</p>
                                            <p class="testimonial-author" style="font-family: cursive">Nhân Viên Tư Vấn</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/as/images/testimonial-5.jpg" alt="alternative">
                                        <div class="card-body">
                                            <p>Tên: Phạm Băng Băng</p>
                                            <p>Gmail: bangbnag12@gmail.com</p>
                                            <p>Điên thoại: 0367796021</p>
                                            <p class="testimonial-author" style="font-family: cursive">Nhân Viên Thu Ngân</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="~/as/images/testimonial-6.jpg" alt="alternative">
                                        <div class="card-body">
                                            <p>Tên: Ann Black</p>
                                            <p>Gmail: annblack@gmail.com</p>
                                            <p>Điên thoại: 0367796021</p>
                                            <p class="testimonial-author" style="font-family: cursive">Nhân Viên Tư Vấn</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                            </div> <!-- end of swiper-wrapper -->
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of testimonials -->
</body>