

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Navigation -->
    
    <header class="ex-header bg-dark-blue"></header> <!-- end of ex-header -->
    <!-- end of header -->
    <!-- Basic -->
    <div class="ex-basic-1 pt-5 pb-5 bg-dark-blue" style="background-color: white; color: black; }">
        <div class="container">
        <div class="col-xl-10 offset-xl-1">
                    <h1 style="font-weight: bold; font-family: cursive; font-style: italic;text-align:center;margin-top:10px">THÔNG TIN CHI TIẾT VỀ SHOP</h1>
                </div>
            <div class="row">
                <div >
                    <img class="img-fluid mt-5 mb-3" src="/as/images/avt1.jpg" alt="alternative"style="margin-left: 215px; width: 700px; height: auto; }">
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->
    <!-- Basic -->
    <div class="ex-basic-1 pt-4 bg-dark-blue" style="font-family: cursive; background-color: white; color: black;">
        <div class="container">
            <div class="row">
                <h1>I. GIỚI THIỆU VỀ SHOP</h1>

                <div class="col-xl-10 offset-xl-1">

                    <p class=" mb-3" style="text-align:justify; font-family: cursive; color:black">
                        Bạn đang tìm các cuốn sách hay, nhiều ý nghĩa có thể hổ trợ cho bạn trong cuộc sống hằng ngày của mình của mình?
                        Sau bạn còn ngằng ngại mà không đến với Shop của chúng tôi? Tại đây, bạn sẽ tìm thấy những quyển sách hay, nhiều ý nghĩa,
                        mang lại nhiều bài học quý giá cho bạn.
                        Shop chúng tôi có rất nhiều loại sách của nhiều nhà xuất bản khác nhau. Ngoài ra Shop chúng tôi có nhiều quyển sách hay
                        giành cho trẻ em, giúp các bé có thể phát triển được tư duy của trẻ nhỏ, hổ trọ bé trong học tập, trong cuộc sống giúp bé có thể thư giãn.
                    </p>
                    <p class="mb-4" style="text-align:justify;font-family: cursive; color:black">
                        Khi đến với Shop của chúng tôi các bạn sẽ được trải nghiệm một không gian rất thoải mái.
                        Bạn sẽ được rất nhiều ưu đãi đến từ Shop. Ngoài ra bạn sẽ được bộ phân tư vấn hổ trọ rất nhiệt tình
                        và tận tâm, nhiều chính sách ưu đãi đến từ Shop của chúng tôi.
                        Rất hân hạnh khi được đón tiếp các bạn đến với Shop của chúng tôi.
                    </p>

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->
    <!-- Cards -->
    <div class="ex-cards-1 pt-3 pb-3 bg-dark-blue"style="background-color: white; color: black;">

        <div class="container">
            <div class="row">
                <div class="col-lg-12"style="font-family: cursive;">
                    <h1 style="margin-bottom:20px">II. MỘT SỐ ƯU ĐÃI</h1>

                    <!-- Card -->
                    <div class="card">

                        <ul class="list-unstyled"style="font-family: cursive;text-align:justify; color:black">
                            <li class="media">
                                <span class="fa-stack">
                                    <span class="fas fa-circle fa-stack-2x"></span>
                                    <span class="fa-stack-1x">1</span>
                                </span>
                                <div class="media-body">
                                    <h5>Đổi/trả sách</h5>
                                    <p style="color:black; font-family:cursive">
                                        Có thể đổi trả sách khi sách có tình trạng hư hỏng.
                                        Một đổi một hoặc Shop có thể hoàn tiên lại cho khách khi sản phẩm bị lỗi
                                        và phải trong thời gian quy định.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- end of card -->
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card">
                        <ul class="list-unstyled"style="font-family: cursive;text-align:justify">
                            <li class="media">
                                <span class="fa-stack">
                                    <span class="fas fa-circle fa-stack-2x"></span>
                                    <span class="fa-stack-1x">2</span>
                                </span>
                                <div class="media-body">
                                    <h5>Chương trình khuyến mãi</h5>
                                    <p style="color:black; font-family:cursive">
                                        Khách hàng sẽ có nhiều ưu đãi đặc biệt khi đến với Shop như: Nhận được mã giảm giá
                                        tùy theo từng loại khách hàng. Shop còn có chương trình đổi sách cũ. Chương trình bốc thăm trúng thưởng
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- end of card -->
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card">
                        <ul class="list-unstyled"style="font-family: cursive;text-align:justify">
                            <li class="media">
                                <span class="fa-stack">
                                    <span class="fas fa-circle fa-stack-2x"></span>
                                    <span class="fa-stack-1x">3</span>
                                </span>
                                <div class="media-body">
                                    <h5>Skilled Team Involved</h5>
                                    <p style="color:black; font-family:cursive">Some useful extra pages are bundled with the template lik article details, terms conditions and privacy policy</p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- end of card -->
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-cards-1 -->
    <!-- end of cards -->
    <!-- Basic -->
    <div class="ex-basic-1 pt-3 pb-5 bg-dark-blue" style="background-color: white; color: black; font-family:cursive">
        <div class="container" >
            <div class="row"style="font-family:cursive">
                <div class="col-xl-10 offset-xl-1">
                    <p class="mb-5" style="color:black; font-family:cursive">Features include an eye catching morphtext in the header, details lightbox for more details information, statistics numbers for important values, card slider for testimonials, image slider for customer logos and working forms that will enable your landing page to provide leads in order to achieve your marketing goals.</p>

                    <h2 class="mb-4" style="color: black; font-family: cursive">New elements added to the package</h2>
                    <img class="img-fluid mb-5" src="/as/images/article-details-small.jpg" alt="alternative">
                    <p  style="color: black; font-family: cursive">Some useful extra pages are bundled with the template lik article details, terms conditions and privacy policy which can be customized as per your requirements. Riga has an impactful dark style design combined with warm colors and angular background shapes with the unique goal of making your mobile app stand out.</p>
                    <p  style="color: black; font-family: cursive" class="mb-5">Leon is an easy to customize landing page HTML template built with Bootstrap for promoting mobile apps to the online audience and making visitors download them from app stores. This template is built with HTML, CSS and Bootstrap to ensure the highest flexibility for all users.</p>
                    <div class="text-box mb-5" style="background-color:white">
                        <h3  style="color: black; font-family: cursive">Visitors love a beautiful and efficient website</h3>
                        <p  style="color: black; font-family: cursive">All designers, developers and tech-savvy people will be able to customize this template with basic web coding skills. Among the features you will find details lightbox for more details information, tabbed content for feature details, video lightbox, card slider for testimonials, statistics numbers, image slider for customer logos, dropdown navigation and useful extra pages for article details, terms.</p>
                    </div> <!-- end of text-box -->
                    <p class="mb-4"  style="color: black; font-family: cursive">Together with touches of call to action green, the overall landing page design will showcase your app beautifully and will help with convincing visitors to download it from the app stores. Orange and gray hues with one color backgrounds to maximize the impact of your content image slider for customer logos and working forms.</p>
                    <ul class="list-unstyled li-space-lg mb-5">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"  style="color:black"><strong  style="color:black">Card slider</strong> for testimonials, statistics numbers for important values image slider for logos</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"  style="color:black"><strong>Dropdown navigation</strong> and useful extra pages for article details, terms conditions and privacy policy</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"  style="color:black"><strong>Clean light design</strong> mixing purple, orange and gray hues with one color backgrounds to maximize</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"  style="color:black"><strong>Together with</strong> touches of call to action green, the overall landing page design will showcase your app</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"  style="color:black"><strong>This template</strong> is built with HTML, CSS and Bootstrap to ensure the highest flexibility for all users</div>
                        </li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->
    <!-- Footer -->    
</body>
