@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/main.css">
    <!--===============================================================================================-->

    <link href="~/SignUp/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/SignUp/css/style.css" rel='stylesheet' type='text/css' media="all" />
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/login/images/13.png');">
            <div class="wrap-login100" style="height:645px; width:400px">
                @using (Html.BeginForm())
                {
            @Html.AntiForgeryToken() if (!String.IsNullOrEmpty(ViewData.ModelState["LoginError"].Errors[0].ErrorMessage))
            {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span style="color: red; font-family: cursive;">@ViewData.ModelState["LoginError"].Errors[0].ErrorMessage</span>
            </div> }                
                <span class="login100-form-title p-b-34 p-t-27" style="font-family: cursive; font-weight: bold; font-style: oblique ">
                    ĐĂNG NHẬP
                </span>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="text" name="TenDangNhap" placeholder="Tên đăng nhập"style="font-family: cursive; font-weight: bold; font-style: oblique ">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="MatKhau" placeholder="Mật khẩu"style="font-family: cursive; font-weight: bold; font-style: oblique ">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1"style="font-family: cursive; font-weight: bold; font-style: oblique ">
                        Nhớ mật khẩu
                    </label>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn"style="font-family: cursive; font-weight: bold; font-style: oblique ">
                        Đăng nhập &nbsp;<i class="fa fa-plane"></i>
                    </button>
                </div>

                
                <div class="text-center p-t-30">
                    
                </div>
                <ul class="social-agileinfo wthree2 p-t-20" style="padding-top:10px">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                }
            </div>
            
                    </div>
        <div class="footer-w3l text-center"style="padding-bottom:20px">
            <p style="color:white; font-weight:bold; font-size:20px">&copy;Ngô Văn Thái | @DateTime.Now.Date   <a href="http://w3layouts.com"></a></p>
        </div>
        
    </div>
    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/js/main.js"></script>

</body>
</html>
