@model BookStore.Models.LoaiSach

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>THÔNG TIN CHI TIẾT</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenLoai)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger " asp-action="Edit" asp-route-id="@Model.Id">Cập nhật</a>
    <a asp-action="Index">Danh sách sản phẩm</a>
</div>
