<!doctype html>
<html lang="en">
<head>
    <title>Website menu 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/menu/css/style.css">

</head>
<body>
    <section class="ftco-section p-0">

        <div class="container-fuild">
            <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light p-0" id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="index.html">Megawidth</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span> Menu
                    </button>

                    <ul class="navbar-nav ml-auto p-0">
                        <li class="nav-item"><a asp-controller="Home" class="nav-link">Home</a></li>
                        <li class="nav-item"><a asp-controller="BaBy" class="nav-link">Sản phẩm</a></li>

                        <li class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle" asp-controller="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thời trang cho bé</a>
                            <div class="dropdown-menu p-4" aria-labelledby="dropdown04">
                                <div class="row justify-content-center">
                                    <div class="col-md-2">
                                        <a class="dropdown-item">Thời trang sơ sinh</a>
                                        <a asp-controller="ClothesBaByGirl" asp-action="Index" class="dropdown-item " style="border: none; padding: 6px 0;">Quần áo bé gái</a>

                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="clothesbabyboy">Quần áo bé trai</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="setbaby">Bodysuit</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="Dress" asp-action="Index">Váy, đầm </a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0 ;" asp-controller="accessorybaby">Phụ kiện sơ sinh</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="shoesbaby">Giày </a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="hat">Nón </a>
                                    </div>
                                    <div class="col-md-2 d-none d-md-block">
                                        <a class="dropdown-item" asp-controller="">Thời trang bé gái</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="clothesgirls">Quần áo bé gái</a>

                                        <script src="~/menu/js/jquery.min.js"></script>
                                        <script src="~/menu/js/popper.js"></script>
                                        <script src="~/menu/js/bootstrap.min.js"></script>
                                        <script src="~/menu/js/main.js"></script>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Quần bé gái</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Áo bé gái</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Phụ kiện thời trang</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Quần áo mặc ngủ </a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Giày dép </a>
                                    </div>
                                    <div class="col-md-2 d-none d-md-block">
                                        <a class="dropdown-item" asp-controller="">Thời trang bé trai</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="clothesboys">Quần áo bé trai</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Phụ kiện thời trang</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Quần áo mặc ngủ </a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Giày dép </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Thời trang cho mẹ-->
                        <li class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle" asp-controller="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thời trang cho mẹ</a>
                            <div class="dropdown-menu p-4" aria-labelledby="dropdown04">
                                <div class="row justify-content-center">
                                    <div class="col-md-2">
                                        <a class="dropdown-item">QUẦN ÁO</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="Dress" asp-action="Index">Váy </a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Áo </a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Đầm</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Quần</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0 ;" asp-controller="">Áo khoác</a>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="dropdown-item">CHĂM SÓC CHO MẸ</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Dưỡng da cho mẹ</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Hương thơm</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Đồ dùng cho bé-->
                        <li class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle" asp-controller="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Đồ dùng cho bé</a>
                            <div class="dropdown-menu p-4" aria-labelledby="dropdown04">
                                <div class="row justify-content-center">
                                    <div class="col-md-3">
                                        <a class="dropdown-item" asp-controller="">Dụng cụ bé ăn</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Bình nước cho bé</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Yếm ăn dặm cho bé</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Ghế ngồi nằm ăn</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0 ;" asp-controller="">Tô, chén, đĩa, muỗng</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Bình tập bé ăn </a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Nón </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="dropdown-item" asp-controller="">Bình sữa phụ kiện</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Thế giới bình sữa</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Núm ty các loại</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Cọ rửa, giá úp</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0 ;" asp-controller="">Ngậm nướu cho bé</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Chăm sóc gia đình-->
                        <li class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle" asp-controller="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chăm sóc gia đình</a>
                            <div class="dropdown-menu p-4" aria-labelledby="dropdown04">
                                <div class="row justify-content-center">
                                    <div class="col-md-5">

                                        <a class="dropdown-item">Đồ dùng vật dụng</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Xịt phòng, sáp thơm</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Ghế ngồi nằm ăn</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0 ;" asp-controller="">Tô, chén, đĩa, muỗng</a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Bình tập bé ăn </a>
                                        <a class="dropdown-item" style="border: none; padding: 6px 0;" asp-controller="">Nón </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </nav>
            <!-- END nav -->
        </div>

    </section>
</body>
</html>

